body{
    font-family: "Montserrat", sans-serif;
    margin:0;
    padding:0;

    display:flex;
    flex-direction:column;
}

.header, .footer{
    background-color:#1F2937;
    color:#F9FAF8;
    height:55px;

    
    
    display:flex;


}


/*Header (Logo and Links) Selectors*/

.header{
    box-shadow: 0 0 8px rgba(0,0,0,.1);


    justify-content: space-between;
    align-items:center;
    
    
}

.header .logo{
    font-size:24px;
    font-weight:bold;
    padding-left:20px;
    
}

.logo{
    color:#F9FAF8;
    font-size:24px;
    margin:0px;
    padding:0px;
}

ul{
    list-style-type: none;
    
    display:flex;
    gap:16px;
    padding-right:20px;
    
}

/*Signup-section selector*/

.signup-section{
    background-color:#1F2937;
    padding:40px;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.05);
    

    display:flex;
    justify-content:center;
    align-items:center;
    
    
}

.left-elements{
    margin-right:25px;

    
}

.mission-header{
    color:#F9FAF8;
    font-size:48px;
    font-weight:bold;
    
}

.mission-text{
    font-size:18px;
    color:#F9FAF8;
    max-width:650px;
    margin-block: 8px;
}

button{
    height:30px;
    width:100px;
    border-radius:10px;
    color: white;
    background-color: #3882F6;
    
}




/*Image selectors*/

img{
    width:480px;
    height:291px;
}

.benefit-img{
    width:120px;
    height:120px;
    padding:8px;
    border:5px solid #3882F6;
    border-radius:25px;
    
    
}

/*Benefits section selectors*/

.benefits{
    display:flex;
    justify-content:center;
    margin-bottom:60px;
    
}

.benefits-header{
    font-size:36px;
    color:#1F2937;
    font-weight: 900;
    text-align:center;
    margin:25px;
    
}

.benefit-text{
    font-size:12px;
    max-width:150px;
    margin-left:20px;
}

.benefit-group{
    display:flex;
    align-items:center;
    margin:20px;
}


/*Quote selectors*/

.inspiring-quote{
    background-color:#e5e7eb;
    padding:100px;
    
    
    display:flex;
    flex-direction:column;
}

.quote-text{
    font-size:36px;
    font-style:italic;
    font-weight:200;
    color:#1f2937;
}

.speaker{
    font-weight:bold;
    align-self:end;
}

/*Signup reminder selectors*/

.signup-reminder{
    background-color: #3882F6;
    margin:125px;
    border:5px solid #3882F6;
    border-radius:25px;
    padding:25px;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

.reminder-header{
    font-size:30px;
    font-weight:bold;
    margin-bottom:4px;
}

.reminder-button{
    margin-right:100px;
    border: 2px solid white;
}

/*Footer*/

.footer{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}